.navbar {
    background-color: white;
    box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.25);
}

/* home section */
section {
    padding-top: 124px;
    position: relative;
}

section::before {
    content: ' ';
    z-index: 1;
    font-size: 72px;
    color: gray;
    position: absolute;
    top: -10px;
    left: -30px;
    font-weight: 700;
    opacity: .25;
}


.button {
    border: 3px solid black;
    border-radius: 24px;
    width: 150px;
}

.button:hover, .btn.button.active {
    border: 3px solid black;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.home h1 {
    font-size: 78px;
}

.home h3 {
    font-size: 48px;
}

.arrow img {
    width: 50px;
}


#arrow {
    animation: 1.2s upDown infinite;
}

@keyframes upDown {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0);
    }
}

/* ABOUT SECTION */
.about::before {
    content: 'About';
}
.about-exp-item {
    margin-top: 32px;
}

.about-exp-item-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-exp-item-detail {
    display: none;
}

/* WORK SECTION */

.work::before {
    content: "work";
  
}

.work-img img {
    width: 100%;
  
}

.work-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "work-1 work-2" "work-3 work-3";
    gap: 10px;
}


.work-img-item:hover::after {
    content: ' ';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.50);
    top: 0;
    left: 0;
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    font-weight: 500;
    font-size: 1.3rem;
}


#work-1:hover::after {
    content: 'Software project';
}
#work-1 {
    grid-area: work-1;
}

#work-2:hover::after {
    content: 'Web Project';
}
#work-2 {
    grid-area: work-2;
}

#work-3:hover::after {
    content: 'UI/UX project';
}
#work-3 {
    grid-area: work-3;
}

.work-img-item {
    position: relative;
}

